.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1; /* Couleur de fond, ajustable */
    z-index: 9999; /* Place-le au-dessus de tout */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out; /* Effet de disparition en douceur */
}

/* Contenu de chargement centré */
.loading-content {
    text-align: center;
}

.loading-spinner {
    width: 80px; /* Taille du spinner, ajustable */
    height: 80px;
    animation: spin 2s linear infinite; /* Animation de rotation du spinner */
}

/* Texte sous le spinner */
.loading-text {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

/* Animation de rotation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Masquer l'écran de chargement après la transition */
.loading-screen.hidden {
    opacity: 0;
    pointer-events: none; /* Désactiver les clics une fois caché */
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    user-select: none; /* Empêche la sélection de texte dans l'ensemble du corps */
}
.no-select {
    user-select: none; /* Empêche la sélection de texte pour les éléments avec la classe .no-select */
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    background: none;
    z-index: 1000;
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.33em;
}

.logo1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 15vw;
}
.logo2 {
    position: absolute;
    top: 10vh;
    left: 42.5vw;
    width: 15vw;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
    padding: 5px 0;
    display: inline-block;
}

nav ul li.active a {
    font-weight: bold;
    border-bottom: 2px solid #333;
    color: #333;
}

nav ul li.active a:hover {
    color: #333;
}

nav ul li a:hover {
    color: #007BFF;
}

.container {
    scroll-snap-type: y mandatory; /* Assure que les sections s'alignent lors du défilement */
    height: 100vh; /* Assure que le conteneur occupe toute la hauteur de la vue */
    overflow-y: scroll; /* Active le défilement vertical */
}

section {
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    margin: 0;
    position: relative;
}

.image-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 40vw;
    height: 120vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

h1 {
    line-height: 1.2;
}

.text-container-section1 {
    position: absolute;
    top: 30%; /* Position verticale du conteneur texte */
    left: 3%; /* Position horizontale du conteneur texte */
    color: #000;
}

.small-title {
    font-family: 'Cardo', serif;
    font-size: 2.5em;
    margin: 0;
    /* Offset pour le petit titre */
    position: relative;
    left: 0%; /* Décalage horizontal du petit titre */
    top: -10px;   /* Décalage vertical du petit titre */
}
img {
    pointer-events: none; /* Empêche toute interaction avec l'image, y compris le drag-and-drop */
    -webkit-user-drag: none; /* Pour les navigateurs basés sur WebKit (Chrome, Safari) */
    user-drag: none;
}
.large-title {
    font-weight: 1000;
    font-size: 5em;
    margin: 0 0 20px 0;
    /* Ajustement pour le gros titre */
}
.flyer1-image{
    position: absolute; /* Permet le positionnement libre */
    top: 10%; /* Position à 20% du haut de l'élément parent */
    left: 30%; /* Position à 30% du côté gauche de l'élément parent */
    width: 70vw; /* Largeur de l'image */
    height: auto; /* Hauteur automatique pour garder les proportions */
    z-index: 10; /* S'assure que l'image est au-dessus des autres éléments */
}
.main-button {
    padding: 10px 20px;
    font-size: 1.5em;
    color: #fff;
    background-color: #107D9C;
    border: none;
    border-radius: 25px; /* Coins arrondis */
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Positionnement du bouton par rapport au gros titre */
    position: relative;
    left: 5%;
    top: 40px; /* Ajuster pour déplacer le bouton vers le bas */
}
.main-button.disabled {
    pointer-events: none; /* Désactive les interactions avec l'élément */
    cursor: not-allowed; /* Change le curseur pour indiquer que le bouton est désactivé */
}
.main-button:hover {
    background-color: #0a5d7f;
}

.search-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
.suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 1000;
    display: none;
}

.suggestions-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

.suggestions-list li:last-child {
    border-bottom: none;
}
.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Couleur grise semi-transparente */
    backdrop-filter: blur(8px); /* Applique le flou */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* S'assure qu'il soit au-dessus de l'iframe */
}

/* Style pour le spinner */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 50px; /* Ajustez la taille du spinner */
    height: 50px;
}
.background-container-page2{
    position: absolute;
    width: 100vw;
    height: 70vh;
    top: 20vh;
    overflow: hidden;
    z-index: -1;
}
.background2-1, .background2-2 {
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100%;
    background-size: auto 100%; /* Garder les proportions et ajuster la hauteur */
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/Arena_Page_2.svg');
}
.background2-1 {
    left: 0;
}
.background2-2 {
    right: 0;
    transform: scaleX(-1);
}
.section2 {
    display: flex;
    flex-direction: columns;
    background-color: #fff;
    z-index: 1;
}
.container-text-page2 {
    position: absolute;
    top: 40vh;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: em;
    color: #fff;
    margin: 0; /* Réinitialise les marges */
    padding: 0; /* Réinitialise les paddings */
}
.Page2-LastText{
    position: relative;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    margin-top: 25vh;
    font-size: 2em;
}
.container-text-page2 > div {
    font-size: 2em;
    line-height: 1.2; /* Ajustez la hauteur de ligne pour réduire l'espace entre les lignes */
    margin-bottom: 10px; /* Espacement entre les divs */
}

.section3 {
}

.section4 {
    background-color: #21f3b8;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}
/* bubble */
.bubbles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
    padding: 20px;
}

.bubble-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centre le texte sous la bulle */
    width: 150px; /* Largeur de chaque bulle */
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw; /* Largeur de la bulle */
    height: 10vw; /* Hauteur de la bulle */
    border-radius: 50%;
    background-color: #107D9C; /* Couleur de fond des bulles */
    cursor: pointer;
    transition: transform 0.3s ease;
    overflow: hidden; /* Cache les débordements */
}

.bubble img {
    max-width: 100%; /* Largeur maximale de l'image */
    max-height: 100%; /* Hauteur maximale de l'image */
}

.bubble-title {
    margin-top: 10px; /* Espacement entre la bulle et le titre */
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    color: #333; /* Couleur du texte pour le titre */
    word-wrap: break-word; /* Retourne le texte à la ligne si nécessaire */
}
